body {
    margin: 0;
    background-color: var(--surface);
    padding: 0;
}

#main {
    background-color: var(--surface);
}

footer {
    color: var(--text-on-dark);
}

dl.key-values dt {
    color: $theme-primary;
    font-weight: 500;
}

body[md-theme='threemawork'] dl.key-values dt {
    color: $work-primary;
}
