<div class="form-content">
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline" translate>messenger.DISTRIBUTION_LIST_MEMBERS</span>
			</md-card-title-text>
		</md-card-title>
		<md-card-content>
			<ul class="member-list">
				<li ng-repeat="memberIdentity in ctrl.receiver.members">
					<eee-contact-badge eee-identity="memberIdentity"></eee-contact-badge>
				</li>
			</ul>

		</md-card-content>
	</md-card>

	<md-card class="detail-actions">
		<md-card-content>
			<section layout="row" layout-align="center center">
				<md-button class="md-icon-button md-warn"
						   ng-if="ctrl.controllerModel.canClean()"
						   ng-click="ctrl.controllerModel.clean($event)"
						   translate-attr="{'aria-label': 'messenger.DELETE_THREAD', 'title': 'messenger.DELETE_THREAD'}">
					<md-icon class="material-icons md-24">delete_sweep</md-icon>
				</md-button>
				<md-button class="md-icon-button md-warn"
						   ng-if="ctrl.receiver.access.canDelete"
						   ng-click="ctrl.controllerModel.delete()"
						   translate-attr="{'aria-label': 'messenger.DISTRIBUTION_LIST_DELETE', 'title': 'messenger.DISTRIBUTION_LIST_DELETE'}">
					<md-icon class="material-icons md-24">delete_forever</md-icon>
				</md-button>
			</section>
		</md-card-content>
	</md-card>
</div>
