<div class="form-content">
	<md-card class="two-row">
		<div class="avatar"
			 ng-class="{clickable: ctrl.hasAvatar()}"
			 ng-click="ctrl.showAvatar()">
			<eee-avatar eee-receiver="ctrl.receiver"
						eee-resolution="'high'"></eee-avatar>
		</div>
		<div>

			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">
						<span translate>messenger.GROUP_CREATOR</span>
						<span ng-if="ctrl.receiver.createdAt"> ({{ ctrl.receiver.createdAt | unixToTimestring }})</span>
					</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<eee-contact-badge
						eee-identity="ctrl.receiver.administrator"
						eee-linked="ctrl.receiver.administrator != ctrl.me.id"
						ng-class="{'linked': ctrl.receiver.administrator != ctrl.me.id}">
				</eee-contact-badge>
			</md-card-content>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">
						<span translate>messenger.GROUP_MEMBERS</span>
						<span> ({{ctrl.filteredMembers().length}}/{{ctrl.controllerModel.getMaxMemberSize()}})</span>
					</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<input class="list-search"
					   type="search"
					   ng-model="ctrl.memberSearch"
					   ng-if="ctrl.receiver.members.length > 5"
					   translate
					   translate-attr-placeholder="messenger.SEARCH">
				<ul class="member-list">
					<li ng-repeat="memberIdentity in ctrl.filteredMembers()">
						<eee-contact-badge
								eee-identity="memberIdentity"
								eee-linked="memberIdentity != ctrl.me.id"
								ng-class="{'linked': memberIdentity != ctrl.me.id}">
						</eee-contact-badge>
					</li>
				</ul>

			</md-card-content>
		</div>
	</md-card>

	<md-card class="detail-actions">
		<md-card-content>
			<section layout="row" layout-align="center center">
				<md-button class="md-icon-button"
						   ng-if="ctrl.receiver.access.canSync"
						   ng-click="ctrl.controllerModel.sync($event)"
						   translate-attr="{'aria-label': 'messenger.GROUP_SYNC', 'title': 'messenger.GROUP_SYNC'}">
					<md-icon class="material-icons md-24">sync</md-icon>
				</md-button>
				<md-button class="md-icon-button md-warn"
						   ng-if="ctrl.controllerModel.canClean()"
						   ng-click="ctrl.controllerModel.clean($event)"
						   translate-attr="{'aria-label': 'messenger.DELETE_THREAD', 'title': 'messenger.DELETE_THREAD'}">
					<md-icon class="material-icons md-24">delete_sweep</md-icon>
				</md-button>
				<md-button class="md-icon-button"
						   ng-if="ctrl.receiver.access.canLeave"
						   ng-click="ctrl.controllerModel.leave($event)"
						   translate-attr="{'aria-label': 'messenger.GROUP_LEAVE', 'title': 'messenger.GROUP_LEAVE'}">
					<md-icon class="material-icons md-24">exit_to_app</md-icon>
				</md-button>
				<md-button class="md-icon-button md-warn"
						   ng-if="ctrl.receiver.access.canDelete"
						   ng-click="ctrl.controllerModel.delete()"
						   translate-attr="{'aria-label': 'messenger.GROUP_DELETE', 'title': 'messenger.GROUP_DELETE'}">
					<md-icon class="material-icons md-24">delete_forever</md-icon>
				</md-button>
			</section>
		</md-card-content>
	</md-card>
</div>
