<!-- Non status messages -->
<md-menu md-position-mode="target target" md-offset="0 0">
    <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
        <i class="material-icons md-dark md-24">more_vert</i>
    </md-button>
    <md-menu-content width="1">
        <!-- Both panes stay rendered so switching is instant -->
        <div class="message-menu-panes" ng-class="{'details-open': ctrl.detailsOpen}" eee-menu-panes>
        <div class="message-menu-pane message-menu-actions">
        <md-menu-item ng-if="ctrl.access.ack">
            <md-button ng-click="ctrl.ack(true)">
                <md-icon aria-label="Acknowledge" class="material-icons md-24">thumb_up</md-icon>
                <span translate>messenger.ACKNOWLEDGE</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.access.dec">
            <md-button ng-click="ctrl.ack(false)">
            <md-icon aria-label="Decline" class="material-icons md-24">thumb_down</md-icon>
            <span translate>messenger.DECLINE</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.access.quote">
            <md-button ng-click="ctrl.quote()">
            <md-icon aria-label="Quote" class="material-icons md-24">format_quote</md-icon>
            <span translate>messenger.QUOTE</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.access.download">
            <md-button ng-click="ctrl.download($event)">
                <md-icon aria-label="Download" class="material-icons md-24">file_download</md-icon>
                <span translate>messenger.DOWNLOAD</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.access.copy">
            <md-button ng-click="ctrl.copyToClipboard($event)">
                <md-icon aria-label="Copy" class="material-icons md-24">content_copy</md-icon>
                <span translate>messenger.COPY</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.message.events">
            <md-button ng-click="ctrl.showHistory($event); $event.stopPropagation();" md-prevent-menu-close="md-prevent-menu-close">
                <md-icon aria-label="Details" class="material-icons md-24">info_outline</md-icon>
                <span translate>messenger.MSG_DETAILS</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.message.type === 'location'">
            <md-button href="https://www.openstreetmap.org/directions?route=%3B{{ ctrl.message.location.lat }}%2C{{ ctrl.message.location.lon }}#map=14/{{ ctrl.message.location.lat }}/{{ ctrl.message.location.lon }}" target='_blank' rel='noopener noreferrer'>
                <md-icon aria-label="Navigate" class="material-icons md-24">directions</md-icon>
                <span translate>messenger.NAVIGATE</span>
            </md-button>
        </md-menu-item>
        <md-menu-item ng-if="ctrl.access.delete">
            <md-button class="message-menu-delete" ng-click="ctrl.delete($event)">
            <md-icon aria-label="Delete" class="material-icons md-24">delete</md-icon>
            <span translate>messenger.DELETE</span>
            </md-button>
        </md-menu-item>
        </div>

        <!-- Details, slides in over the actions -->
        <div class="message-menu-pane message-details">
            <md-menu-item class="message-details-header">
                <md-button ng-click="ctrl.hideHistory($event); $event.stopPropagation();" md-prevent-menu-close="md-prevent-menu-close">
                    <md-icon aria-label="Back" class="material-icons md-24">arrow_back</md-icon>
                    <span translate>messenger.MSG_DETAILS</span>
                </md-button>
            </md-menu-item>
            <div class="message-details-item">
                <md-icon class="material-icons md-24"><span>fingerprint</span></md-icon>
                <div class="message-details-text">
                    <span class="message-details-title">Message ID</span>
                    <span class="message-details-value">{{ ctrl.message.id }}</span>
                </div>
            </div>
            <div class="message-details-item" ng-repeat="event in ctrl.message.events">
                <md-icon class="material-icons md-24">
                    <span ng-if="event.type === 'created'">schedule</span>
                    <span ng-if="event.type === 'sent'">send</span>
                    <span ng-if="event.type === 'delivered'">done</span>
                    <span ng-if="event.type === 'read'">done_all</span>
                    <span ng-if="event.type === 'acked'">thumb_up</span>
                    <span ng-if="event.type === 'modified'">edit</span>
                </md-icon>
                <div class="message-details-text">
                    <span class="message-details-title">
                        <span ng-if="event.type === 'created'" translate>messenger.MSG_HISTORY_CREATED</span>
                        <span ng-if="event.type === 'sent'" translate>messenger.MSG_HISTORY_SENT</span>
                        <span ng-if="event.type === 'delivered'" translate>messenger.MSG_HISTORY_DELIVERED</span>
                        <span ng-if="event.type === 'read'" translate>messenger.MSG_HISTORY_READ</span>
                        <span ng-if="event.type === 'acked'" translate>messenger.MSG_HISTORY_ACKED</span>
                        <span ng-if="event.type === 'modified'" translate>messenger.MSG_HISTORY_MODIFIED</span>
                    </span>
                    <span class="message-details-value">{{ event.date | unixToTimestring:true }}</span>
                </div>
            </div>
        </div>
        </div>
    </md-menu-content>
</md-menu>
