<md-dialog aria-label="Settings" md-theme="{{ ctrl.theme }}">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>settings.SETTINGS</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Close dialog" class="material-icons md-24">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <section>
                    <md-subheader class="md-accent"><span translate>settings.notifications.NOTIFICATIONS</span>
                    </md-subheader>
                    <md-list flex>
                        <md-list-item ng-if="ctrl.notificationApiAvailable && ctrl.notificationPermission !== false">
                            <md-switch
                                    ng-disabled="!ctrl.notificationApiAvailable || ctrl.notificationPermission === false"
                                    ng-model="ctrl.desktopNotifications"
                                    ng-change="ctrl.setWantsNotifications(ctrl.desktopNotifications)"
                                    aria-label="Show desktop notifications">
                                <span translate>settings.notifications.SHOW_NOTIFICATIONS</span>
                            </md-switch>
                        </md-list-item>
                        <md-list-item ng-if="ctrl.desktopNotifications && ctrl.notificationApiAvailable && ctrl.notificationPermission !== false">
                            <md-switch
                                    ng-disabled="!ctrl.desktopNotifications"
                                    ng-model="ctrl.notificationPreview"
                                    ng-change="ctrl.setWantsPreview(ctrl.notificationPreview)"
                                    aria-label="Show message preview">
                                <span translate>settings.notifications.SHOW_PREVIEW</span>
                            </md-switch>
                        </md-list-item>
                        <md-list-item>
                            <md-switch
                                    ng-model="ctrl.notificationSound"
                                    ng-change="ctrl.setWantsSound(ctrl.notificationSound)"
                                    aria-label="Play notification sound">
                                <span translate>settings.notifications.PLAY_SOUND</span>
                            </md-switch>
                        </md-list-item>
                    </md-list>
                    <div ng-if="!ctrl.notificationApiAvailable" class="status status-no">
                        <i class="material-icons md-24">error</i>
                        <span translate>error.NOTIFICATION_API_NOT_AVAILABLE</span>
                    </div>
                    <div ng-if="ctrl.notificationPermission === false && ctrl.notificationApiAvailable" class="status status-no">
                        <i class="material-icons md-24">error</i> <span translate>error.NOTIFICATION_PERMISSION_DENIED</span>
                        <a href="https://threema.com/de/faq/web_notifications"
                           target="_blank" rel="noopener noreferrer">
                            <p translate>error.NOTIFICATION_PERMISSION_DENIED_LEARN_MORE</p>
                        </a>
                    </div>
                </section>
                <section>
                    <md-subheader class="md-accent"><span translate>settings.composearea.COMPOSE_AREA</span>
                    </md-subheader>
                    <md-list flex>
                        <md-list-item>
                            <md-switch
                                    ng-model="ctrl.submitWithCtrlEnter"
                                    ng-change="ctrl.setSubmitWithCtrlEnter(ctrl.submitWithCtrlEnter)"
                                    aria-label="Send with Ctrl+Enter">
                                <span translate>settings.composearea.SUBMIT_WITH_CTRL_ENTER</span>
                            </md-switch>
                        </md-list-item>
                    </md-list>
                </section>
                <section>
                    <md-subheader class="md-accent"><span translate>settings.ui.UI</span>
                    </md-subheader>
                    <md-list flex>
                        <md-list-item>
                            <md-switch
                                    ng-model="ctrl.backgroundBlur"
                                    ng-change="ctrl.setBackgroundBlur(ctrl.backgroundBlur)"
                                    aria-label="Blur the background image">
                                <span translate>settings.ui.BACKGROUND_BLUR</span>
                            </md-switch>
                        </md-list-item>
                        <md-list-item class="background-picker">
                            <span translate>settings.ui.CUSTOM_BACKGROUND</span>
                            <input type="file" id="background-upload" accept="image/*"
                                   eee-file-pick="ctrl.setBackground(file)">
                            <label for="background-upload" class="md-button md-raised">
                                <span translate>settings.ui.CHOOSE_BACKGROUND</span>
                            </label>
                            <button type="button" class="md-button reset-background"
                                    ng-show="ctrl.hasCustomBackground"
                                    ng-click="ctrl.clearBackground()">
                                <span translate>settings.ui.RESET_BACKGROUND</span>
                            </button>
                        </md-list-item>
                    </md-list>
                </section>
                <section class="settings-actions">
                    <md-divider></md-divider>
                    <md-list flex>
                        <md-list-item ng-click="ctrl.troubleshooting($event)">
                            <md-icon aria-hidden="true" class="material-icons md-24">bug_report</md-icon>
                            <span translate>troubleshooting.TROUBLESHOOTING</span>
                        </md-list-item>
                        <md-list-item ng-click="ctrl.about($event)">
                            <md-icon aria-hidden="true" class="material-icons md-24">info</md-icon>
                            <span translate>messenger.ABOUT</span>
                        </md-list-item>
                        <md-list-item ng-click="ctrl.version($event)">
                            <md-icon aria-hidden="true" class="material-icons md-24">update</md-icon>
                            <span translate>messenger.VERSION</span>
                        </md-list-item>
                        <md-list-item ng-click="ctrl.closeSession($event)">
                            <md-icon aria-hidden="true" class="material-icons md-24">exit_to_app</md-icon>
                            <span translate>common.SESSION_CLOSE</span>
                        </md-list-item>
                        <md-list-item ng-if="ctrl.isPersistent()" ng-click="ctrl.deleteSession($event)">
                            <md-icon aria-hidden="true" class="material-icons md-24">delete</md-icon>
                            <span translate>common.SESSION_DELETE</span>
                        </md-list-item>
                    </md-list>
                </section>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="ctrl.cancel()">
                <span translate>common.OK</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

