<md-dialog aria-label="Troubleshooting" md-theme="{{ ctrl.theme }}">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 translate>troubleshooting.TROUBLESHOOTING</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Close dialog" class="material-icons md-24">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <p translate>troubleshooting.REPORT_FAQ</p>

                <p translate>troubleshooting.REPORT_LOG</p>

                <p translate>troubleshooting.REPORT_VIA_CLIPBOARD</p>

                <p>
                    <md-checkbox ng-model="ctrl.sanitize" aria-label="Remove sensitive data">
                        <span translate>troubleshooting.REMOVE_SENSITIVE_DATA</span>
                    </md-checkbox>
                </p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button role="button" class="md-primary" ng-click="ctrl.copyToClipboard()" aria-labelledby="aria-label-copy-log-clipboard">
                <span translate id="aria-label-copy-log-clipboard">troubleshooting.COPY_LOG_CLIPBOARD</span>
            </md-button>
            <md-button role="button" class="md-accent" ng-href="{{ ctrl.issueUrl }}" target="_blank" rel="noopener noreferrer" aria-labelledby="aria-label-report-issue">
                <span translate id="aria-label-report-issue">troubleshooting.REPORT_VIA_GITHUB</span>
            </md-button>
            <md-button role="button" class="md-primary" ng-click="ctrl.cancel()" aria-labelledby="aria-label-close">
                <span translate id="aria-label-close">common.CLOSE</span>
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
